# Python package requirements for building as a user.
# The CI adds additional packages, but these should be suitable for users.
# Usage:
#   python -m pip install -r runtime/bindings/python/iree/runtime/build_requirements.txt

numpy>=1.19.4
pybind11>=2.8.0
wheel
PyYAML
