# Python package requirements for building as a user.
# The CI adds additional packages, but these should be suitable for users.
# Usage:
#   python -m pip install -r runtime/bindings/python/iree/runtime/build_requirements.txt

pip>=21.3
setuptools>=62.4.0
nanobind>=1.4.0
numpy>=1.19.4
requests>=2.28.0
wheel>=0.36.2

# TODO: nanobind is used in the runtime but the compiler uses pybind and
# removing this breaks CI bots; remove this.
pybind11>=2.10.1

# TODO: not required but needed for weird CI reasons; remove this.
PyYAML>=5.4.1
