# Copyright 2021 The IREE Authors
#
# Licensed under the Apache License v2.0 with LLVM Exceptions.
# See https://llvm.org/LICENSE.txt for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

benchmark_key: "4636549841944576"
benchmark_name: "MobileBert f16 version (S20) (Time Unit: ms)"
project_name: "iree"

# Only owners can write to the benchmark
owner_list: "hanchung@google.com"
owner_list: "buildkite-agent@iree-oss.iam.gserviceaccount.com"

# Define the name and type for x-axis of run charts
input_value_info: {
  value_key: "t"
  label: "time"
  type: NUMERIC
}

# Three metrics, define the names for y-axis values of both run and aggregate
# charts.
metric_info_list: {
  value_key: "vlk"
  label: "Vulkan-SPIRV"
}

description: "Mobile BERT Q&A model f16 version"
