# Copyright 2020 The IREE Authors
#
# Licensed under the Apache License v2.0 with LLVM Exceptions.
# See https://llvm.org/LICENSE.txt for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

# project_name is always evaluated as lowercase and must be unique
project_name: "iree"

# project_alias is the display name of the project and will be shown on
# mako.dev. It does not have to be unique.
project_alias: "IREE"

# TODO(hanchung): Add other IREE members to owner_list.
owner_list: "hanchung@google.com"

# By default any automation creating Buganizer work items will be opened under
# the root buganizer component for benchmarks in this Project.
# TODO(hanchung): Create a specific component for this, or make it file issues
# to Github.
default_issue_tracker : {
  buganizer_config : {
    component_id : "646953"
  }
}
