# All of IREE is in the Google style except for iree/compiler/, which follows
# mostly LLVM style (for naming/etc) but the Google formatting (because internal
# tooling has... issues).
BasedOnStyle: Google
