# Python
*.pyc

# Visual Studio files
.vs/
.vscode/
*.sdf
*.opensdf
*.VC.opendb
*.suo
*.user

# macOS files
.DS_Store

# CMake artifacts
build/

# Bazel artifacts
bazel-*/

# Local-only config options
user.bazelrc
