# Python
.env
*.pyc
**/.ipynb_checkpoints/
.pytype/
**/__pycache__/**

# Visual Studio files
.vs/
.vscode/
*.sdf
*.opensdf
*.VC.opendb
*.suo
*.user

# macOS files
.DS_Store

# CMake artifacts
build/
build-*/

# Bazel artifacts
**/bazel-*

# Local-only config options
configured.bazelrc
user.bazelrc
version_info.json
CMakeUserPresets.json

# Dear ImGui Ini files
imgui.ini

# Emacs autosaves
*~
\#*\#

# Vim swap files
[._]*.sw[a-p]

# Source indexing files
compile_commands.json
.cache/clangd
.clangd/

# Pyenv files
.python-version
*.venv
.venv

# Python deployment artifacts
*.whl

# Android Studio / Gradle files
.cxx
.gradle
gradlew
gradlew.bat
gradle/
local.properties

# Generated documentation files
mkdocs/site/
docs/website/site/

# Temporary files
iree/builtins/**/bin/*.ll

# Archive files
*.tar
*.tar.*

# VS Code DevContainer
.devcontainer/docker-compose.yml

# Local cache files
llvm-external-projects/iree-dialects/.cache
