[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/llvm-project"]
	path = third_party/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "third_party/tensorflow"]
	path = third_party/tensorflow
	url = https://github.com/tensorflow/tensorflow.git
[submodule "third_party/flatbuffers"]
	path = third_party/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "third_party/vulkan_headers"]
	path = third_party/vulkan_headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "third_party/vulkan_memory_allocator"]
	path = third_party/vulkan_memory_allocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "third_party/spirv_headers"]
	path = third_party/spirv_headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "third_party/swiftshader"]
	path = third_party/swiftshader
	url = https://github.com/google/swiftshader.git
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/google/benchmark.git
[submodule "third_party/sdl2"]
	path = third_party/sdl2
	url = https://github.com/SDL-mirror/SDL.git
[submodule "third_party/dear_imgui"]
	path = third_party/dear_imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/vulkan_extensionlayer"]
	path = third_party/vulkan_extensionlayer
	url = https://github.com/KhronosGroup/Vulkan-ExtensionLayer
[submodule "third_party/ruy"]
	path = third_party/ruy
	url = https://github.com/google/ruy
[submodule "third_party/tracy"]
	path = third_party/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "third_party/mlir-emitc"]
	path = third_party/mlir-emitc
	url = https://github.com/iml130/mlir-emitc.git
[submodule "third_party/marl"]
	path = third_party/marl
	url = https://github.com/google/marl.git
