[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/llvm-project"]
	path = third_party/llvm-project
	url = https://github.com/shark-infra/llvm-project.git
[submodule "third_party/vulkan_headers"]
	path = third_party/vulkan_headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "third_party/spirv_headers"]
	path = third_party/spirv_headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/google/benchmark.git
[submodule "third_party/tracy"]
	path = third_party/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "third_party/flatcc"]
	path = third_party/flatcc
	url = https://github.com/dvidelabs/flatcc.git
[submodule "third_party/spirv_cross"]
	path = third_party/spirv_cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "third_party/cpuinfo"]
	path = third_party/cpuinfo
	url = https://github.com/pytorch/cpuinfo.git
[submodule "third_party/libyaml"]
	path = third_party/libyaml
	url = https://github.com/yaml/libyaml.git
[submodule "third_party/webgpu-headers"]
	path = third_party/webgpu-headers
	url = https://github.com/webgpu-native/webgpu-headers.git
[submodule "third_party/musl"]
	path = third_party/musl
	url = https://github.com/powderluv/musl.git
[submodule "third_party/stablehlo"]
	path = third_party/stablehlo
	url = https://github.com/shark-infra/stablehlo.git
[submodule "third_party/torch-mlir"]
	path = third_party/torch-mlir
	url = https://github.com/shark-infra/torch-mlir.git
[submodule "third_party/ROCm-Device-Libs"]
	path = third_party/ROCm-Device-Libs
	url = https://github.com/shark-infra/ROCm-Device-Libs
[submodule "third_party/hip-build-deps"]
	path = third_party/hip-build-deps
	url = https://github.com/shark-infra/hip-build-deps.git
