# Copyright 2019 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Import the TF bazelrc config
try-import %workspace%/../../third_party/tensorflow/.bazelrc

# Linking in the TF shared object with tf_cc_binary in non-monolithic mode
# violates TF's visibility restrictions. We can investigate fixing this
# upstream. In the meantime, this is easier.
build --nocheck_visibility
# Disk cache is incompatible with remote execution and caching.
build:rbe --disk_cache=''

# The user.bazelrc file is not checked in but available for local mods.
# Always keep this at the end of the file so that user flags override.
try-import %workspace%/user.bazelrc
