[Unit]
Description=GitHub Actions Runner
After=network.target

[Service]
User=runner
Group=runner
ExecStart=/runner-root/config/systemd/scripts/start_runner.sh
Restart=no
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=5min
ExecStopPost=/runner-root/config/systemd/scripts/delete_self.sh

[Install]
WantedBy=runner-setup.target
