[Unit]
Description=Health Check Server
After=gh-runner.target network.target

[Service]
User=root
Group=root
ExecStart=/runner-root/config/health_server/health_server.py
Restart=no
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=5min

[Install]
WantedBy=runner-setup.target
