[Unit]
Description=GitHub Actions Runner
After=docker.target

[Service]
User=runner
Group=runner
Type=oneshot
EnvironmentFile=/etc/environment
ExecStart=/runner-root/config/systemd/scripts/preload_docker.sh
Restart=no
RemainAfterExit=yes

[Install]
WantedBy=runner-setup.target
