# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# project_name is always evaluated as lowercase and must be unique
project_name: "iree"

# project_alias is the display name of the project and will be shown on
# mako.dev. It does not have to be unique.
project_alias: "IREE"

# owner_list contains a list of owners (e.g. user@google.com, mdb_group@prod.google.com, etc.).
# Set "*" as an owner to enable global permissions.
# owner_list: "my-mdb-group@prod.google.com"
# TODO(hanchung): Add other IREE members to owner_list.
owner_list: "hanchung@google.com"

# By default any automation creating Buganizer work items will be opened under
# the root buganizer component for benchmarks in this Project.
# TODO(hanchung): Create a specific component for this, or make it file issues
# to Github.
default_issue_tracker : {
  buganizer_config : {
    component_id : "646953"
  }
}
