[Unit]
Description=GitHub Actions Runner Remover
DefaultDependencies=no
Before=halt.target shutdown.target reboot.target

[Service]
User=runner
Group=runner
WorkingDirectory=/dev/shm/config
Type=oneshot
ExecStart=/dev/shm/config/deregister.sh
RemainAfterExit=yes

[Install]
WantedBy=halt.target shutdown.target reboot.target
