[Unit]
Description=GitHub Actions Runner
After=network.target

[Service]
User=runner
Group=runner
ExecStart=/dev/shm/config/start.sh
Restart=no
WorkingDirectory=/dev/shm/config
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=5min
ExecStopPost=sudo /usr/sbin/shutdown -P now

[Install]
WantedBy=multi-user.target
