# Copyright 2019 The IREE Authors
#
# Licensed under the Apache License v2.0 with LLVM Exceptions.
# See https://llvm.org/LICENSE.txt for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

# Keep this in sync with build_tools/scripts/lint.sh

name: Lint

on: [pull_request]

permissions:
  contents: read

jobs:
  pre-commit:
    runs-on: ubuntu-20.04
    steps:
      - name: Checking out repository
        uses: actions/checkout@v4.1.7
      - name: Setting up python
        uses: actions/setup-python@v5.1.0
      - name: Running pre-commit
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1

  generated_cmake_files:
    runs-on: ubuntu-20.04
    steps:
      - name: Checking out repository
        uses: actions/checkout@v4.1.7
      - name: Generating CMake files
        run: |
          ./build_tools/scripts/generate_cmake_files.sh
      - name: Checking Diff
        run: |
          # Make sure to run build_tools/scripts/generate_cmake_files.sh and
          # pick up new files that have been added.
          git add -A
          git diff HEAD --exit-code
