# Copyright 2023 The IREE Authors
#
# Licensed under the Apache License v2.0 with LLVM Exceptions.
# See https://llvm.org/LICENSE.txt for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

name: PkgCI Regression Test
on:
  workflow_call:
    inputs:
      artifact_run_id:
        type: string
        default: ""
  workflow_dispatch:
    inputs:
      artifact_run_id:
        type: string
        default: ""

jobs:
  test_regression_suite:
    name: "test_regression_suite :: ${{ matrix.name }}"
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false

      # Note: these jobs should use persistent runners with local caches.
      # Downloading test files (50GB+) without a cache can take 20+ minutes.
      matrix:
        include:
          # CPU
          - name: cpu_llvm_task
            models-config-file: models_cpu_llvm_task.json
            backend: cpu
            runs-on:
              - self-hosted # must come first
              - persistent-cache
              - Linux
              - X64

          # AMD GPU
          - name: amdgpu_rocm_mi250_gfx90a
            rocm-chip: gfx90a
            backend: rocm
            sku: mi250
            runs-on: nodai-amdgpu-mi250-x86-64
          - name: amdgpu_rocm_mi300_gfx942
            rocm-chip: gfx942
            backend: rocm
            sku: mi300
            runs-on: linux-mi300-1gpu-ossci-iree-org
          - name: amdgpu_rocm_mi308_gfx942
            rocm-chip: gfx942
            backend: rocm
            sku: mi308
            runs-on: nodai-amdgpu-mi308-x86-64
    env:
      PACKAGE_DOWNLOAD_DIR: ${{ github.workspace }}/.packages
      IREE_TEST_PATH_EXTENSION: ${{ github.workspace }}/build_tools/pkgci/external_test_suite
      VENV_DIR: ${{ github.workspace }}/venv
      GH_TOKEN: ${{ github.token }}
      TEST_OUTPUT_ARTIFACTS: ${{ github.workspace }}/model_output_artifacts
    steps:
      - name: Checking out IREE repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: false
      - uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5.4.0
        with:
          # Must match the subset of versions built in pkgci_build_packages.
          python-version: "3.11"
      - uses: actions/download-artifact@cc203385981b70ca67e1cc392babf9cc229d5806 # v4.1.9
        if: ${{ inputs.artifact_run_id == '' }}
        with:
          name: linux_x86_64_release_packages
          path: ${{ env.PACKAGE_DOWNLOAD_DIR }}
      - name: Setup venv
        run: |
          ./build_tools/pkgci/setup_venv.py ${VENV_DIR} \
            --artifact-path=${PACKAGE_DOWNLOAD_DIR} \
            --fetch-gh-workflow=${{ inputs.artifact_run_id }}
          source ${VENV_DIR}/bin/activate
          pip install -e experimental/regression_suite

      # TODO(#17344): regenerate .mlirbc files, test plat_rdna3_rocm on rocm
      # # In-tree tests
      # - name: Run experimental/regression_suite tests
      #   run: |
      #     source ${VENV_DIR}/bin/activate
      #     pytest \
      #       -rA -s -m "plat_host_cpu and presubmit" \
      #       experimental/regression_suite

      - name: "Set IREE_TEST_FILES variable"
        run: |
          case "${{ matrix.name }}" in
            "amdgpu_rocm_mi300_gfx942") echo IREE_TEST_FILES="/shark-cache/data/iree-regression-cache" >> $GITHUB_ENV ;;
            *) echo "No cache directory assigned for ${{ matrix.name }}" ;;
          esac

      - name: "Running SDXL special model tests"
        if: "!cancelled()"
        run: |
          source ${VENV_DIR}/bin/activate
          pytest ./experimental/regression_suite/shark-test-suite-models/sdxl \
            -k ${{ matrix.backend }} \
            -rpfE \
            --capture=no \
            --log-cli-level=info \
            --timeout=600 \
            --durations=0
        env:
          ROCM_CHIP: ${{ matrix.rocm-chip }}
          SKU: ${{ matrix.sku }}

      - name: "Running SD3 special model tests"
        if: "!cancelled()"
        run: |
          source ${VENV_DIR}/bin/activate
          pytest ./experimental/regression_suite/shark-test-suite-models/sd3 \
            -k ${{ matrix.backend }} \
            -rpfE \
            --capture=no \
            --log-cli-level=info \
            --timeout=600 \
            --durations=0
        env:
          ROCM_CHIP: ${{ matrix.rocm-chip }}

      # Note: mi250 benchmark times are more lenient than mi300 (allowing about
      # 30% deviation from observed averages), since the mi250 runners we use
      # are more unstable and we care most about peak performance on mi300.
      - name: "Running SDXL rocm pipeline benchmark (mi250)"
        if: contains(matrix.name, 'rocm_mi250_gfx90a')
        run: |
          source ${VENV_DIR}/bin/activate
          pytest ./experimental/benchmarks/sdxl/benchmark_sdxl_rocm.py \
            --goldentime-tolerance-multiplier 1.3 \
            --goldentime-rocm-e2e-ms 1100.0 \
            --goldentime-rocm-unet-ms 258.0 \
            --goldentime-rocm-clip-ms 12.0 \
            --goldentime-rocm-vae-ms 260.0 \
            --goldendispatch-rocm-unet 1149 \
            --goldendispatch-rocm-clip 794 \
            --goldendispatch-rocm-vae 176 \
            --goldensize-rocm-unet-bytes 1370000  \
            --goldensize-rocm-clip-bytes 460000 \
            --goldensize-rocm-vae-bytes 430000 \
            --rocm-chip gfx90a \
            --timeout=600 \
            --log-cli-level=info \
            --retries 7
          echo "$(<job_summary.md )" >> $GITHUB_STEP_SUMMARY
          rm job_summary.md

      # Note: allowing 10% deviation from observed averages here to account for
      # different runner conditions.
      - name: "Running SDXL rocm pipeline benchmark (mi300)"
        if: contains(matrix.name, 'rocm_mi300_gfx942')
        run: |
          source ${VENV_DIR}/bin/activate
          pytest ./experimental/benchmarks/sdxl/benchmark_sdxl_rocm.py \
            --goldentime-tolerance-multiplier 1.1 \
            --goldentime-rocm-e2e-ms 305.0 \
            --goldentime-rocm-unet-ms 78.0 \
            --goldentime-rocm-clip-ms 9.0 \
            --goldentime-rocm-vae-ms 62.0 \
            --goldendispatch-rocm-unet 1149 \
            --goldendispatch-rocm-clip 794 \
            --goldendispatch-rocm-vae 176 \
            --goldensize-rocm-unet-bytes 1400000 \
            --goldensize-rocm-clip-bytes 460000  \
            --goldensize-rocm-vae-bytes 430000 \
            --goldentime-rocm-punet-int8-fp16-ms 45.0 \
            --goldentime-rocm-punet-int8-fp8-ms 46.0 \
            --goldendispatch-rocm-punet-int8-fp16 1275 \
            --goldendispatch-rocm-punet-int8-fp8 1555 \
            --goldensize-rocm-punet-int8-fp8-bytes 2200000 \
            --goldensize-rocm-punet-int8-fp16-bytes 2000000 \
            --rocm-chip gfx942 \
            --log-cli-level=info \
            --timeout=600 \
            --retries 7
          echo "$(<job_summary.md )" >> $GITHUB_STEP_SUMMARY
      # Note: allowing 10% deviation from observed averages here to account for
      # different runner conditions.
      - name: "Running SDXL rocm pipeline benchmark (mi308)"
        if: contains(matrix.name, 'rocm_mi308_gfx942')
        run: |
          source ${VENV_DIR}/bin/activate
          pytest ./experimental/benchmarks/sdxl/benchmark_sdxl_rocm.py \
            --goldentime-tolerance-multiplier 1.1 \
            --goldentime-rocm-e2e-ms 740.0 \
            --goldentime-rocm-unet-ms 198.0 \
            --goldentime-rocm-clip-ms 12.0 \
            --goldentime-rocm-vae-ms 146.0 \
            --goldendispatch-rocm-unet 1149 \
            --goldendispatch-rocm-clip 794 \
            --goldendispatch-rocm-vae 176 \
            --goldensize-rocm-unet-bytes 1400000 \
            --goldensize-rocm-clip-bytes 460000 \
            --goldensize-rocm-vae-bytes 430000 \
            --goldentime-rocm-punet-int8-fp16-ms 118.0 \
            --goldentime-rocm-punet-int8-fp8-ms 119.0 \
            --goldendispatch-rocm-punet-int8-fp16 1275 \
            --goldendispatch-rocm-punet-int8-fp8 1555 \
            --goldensize-rocm-punet-int8-fp8-bytes 2200000 \
            --goldensize-rocm-punet-int8-fp16-bytes 2000000 \
            --rocm-chip gfx942 \
            --log-cli-level=info \
            --timeout=600 \
            --retries 7
          echo "$(<job_summary.md )" >> $GITHUB_STEP_SUMMARY
